extends layout


block content
  section.container
    h2 About
    p This application is for logging and viewing downtime events.
    ul
      li Code = the code for the type of event
      li Description: A brief description of what happened.
      li Solution: A brief description of how the problem was solved. The more details you give the more useful this tool will be
      li Date and Time: Date as well as time of day.
      li Duration: total downtime in hours.

