extends layout


block content
  h1 #{title}
  ul.list-group
    each downtimeevent, i in downtimeevents
      li.list-group-item= downtimeevent.solution
    else
      li.list-group-item there are no values

