<%include partials/header %>
<h1><%=title%></h1>
<form method="POST" action="/event/add">
        <label>Alarm</label><br>
        <input type="text"  name ="alarm">
        <br>
        <label>Code</label><br>
        <input type="text"  name ="code">
        <br>
        <label>Downtime</label><br>
        <input type="text"  name ="downtime">
        <br>
        <input type ="submit" value="Submit">
<%include partials/footer %>
