extends layout


block content
  .container
    h2 #{title}
    form(method='POST',action='/submit')
      #form-group
        label Code:
        input.form-control(name='code', type='text')
      #form-group
        label Operator:
        input.form-control(name='operator', type='text')
      #form-group
        label Description:
        textarea.form-control(name='description')
      #form-group
        label Solution:
        textarea.form-control(name='solution')
      #form-group
        label Date:
        input.form-control(name='date', type='date')#date
      #form-group
        label Time:
        input.form-control(name='time', type='number')#time
      #form-group
        label Duration (hours):
        input.form-control(name='duration', type='number')
      input.btn.btn-primary(type='submit',value='Submit')
